// Variables for transition durations and colors
// ---------------------------------------------
$transition-duration-short: 0.3s;
$transition-duration-long: 0.5s;
$transition-timing: ease-in-out;
$color-dark-blue: var(--brand-colors--dark-blue);
$color-middle-blue: var(--brand-colors--middle-blue);
$color-white: var(--colors--base--white);

